{% extends 'website/base.html' %}

{% block title %}
    <title>Create note</title>
{% endblock %}

{% block body %}
    <main>

        <div class="container">
            <div class="form">
                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="heading">
                        <h1>Create note</h1>
                    </div>
                    {% for el in form %}
                    <div class="mb-3">

                        <div class="form-floating">
                            {{ el }}
                            {{ el.label_tag }}
                            {% if el.errors %}
                                    <ul>
                                        {% for error in el.errors %}
                                            <li>
                                                <span class="error-span">{{ error }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            {% endif %}
                        </div>

                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success">Create new note</button>

                </form>
            </div>

            {% if notes %}

                <div class="caption">
                    <h4>Notes</h4>
                </div>

                {% for note in notes %}

                    <div class="tables">

                        <table class="table table-borderless" style="width:100%">
                            <colgroup>
                               <col style="width: 10%;">
                               <col style="width: 25%;">
                               <col style="width: 30%;">
                               <col style="width: 15%;">
                               <col style="width: 20%;">
                            </colgroup>
                            <thead class="table-dark">
                                <tr>
                                <th scope="col">id</th>
                                <th scope="col">author</th>
                                <th scope="col">title</th>
                                <th scope="col">category</th>
                                <th scope="col">publish date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bordered">
                                    <td><span style="color:green"><b>{{ note.id }}</b></span></td>
                                    <td><b>{{ note.author }}</b></td>
                                    <td><b>{{ note.title }}</b></td>
                                    <td><b>{{ note.category }}</b></td>
                                    <td><b>{{ note.publish_date }}</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <table>
                            <colgroup>
                               <col style="width: 10%;">
                               <col style="width: 80%;">
                            </colgroup>
                            <thead></thead>
                            <tbody>
                                <tr class="align-top">
                                    <td>
                                        <b>Abstract: </b>
                                    </td>
                                    <td>
                                        {{ note.abstract }}
                                    </td>
                                </tr>

                                <tr class="align-top">
                                    <td>
                                        <b>Text: </b>
                                    </td>
                                    <td>
                                        {{ note.text }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between">
                            <div class="read-note-href">
                                <a href="{% url 'website:delete-note' note.pk %}" class="btn btn-close" title="delete"></a>
                            </div>
                            <div class="read-note-href">
                                {% if note.is_published %}
                                    <p>Is published: <span class="is-published">{{ note.is_published }}.</span></p>
                                {% else %}
                                    <p>Is published: <span class="error-span">{{ note.is_published }}.</span></p>
                                {% endif %}</div>
                            <div class="read-note-href" align="right">
                                <a href="{% url 'website:show-note' note.pk %}" title="read note" class="link-success">Read note</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            {% endif %}
        </div>>
    </main>
{% endblock %}
