{% extends 'website/base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
    <form class="form-signin d-flex justify-content-center" method="post">
        <div class="d-flex flex-column align-items-center w-100">
            <h1 class="h3 mb-3 font-weight-normal">Enter</h1>
            {% csrf_token %}
            {% for el in form %}
            <div class="mb-3">

                <div class="form-floating">
                    {{ el }}
                    {{ el.label_tag }}
                    {% if el.errors %}
                    <ul>
                        {% for error in el.errors %}
                        <li><strong class="text-danger">{{ error }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Enter</button>
        </div>
    </form>
{% endblock %}