body {
    margin: 0;
    padding: 0;
    background-color: #b4f7fb;
}

div {
    margin-top: 25px;
    margin-bottom: 75px;
    padding: 12px;
}

span {
    margin-left: 62px;
    font-size: 34px;
    color: darkblue;
    background-color: white;
}

table {
    margin: 0;
    font-size: 25px;
    border: 1px solid black;
    color: darkblue;
    background-color: white;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid darkgrey;
}

th:hover, td:hover {
    background-color: #b4f7fb;
}

div.table {
    margin-top: 0;
    margin-left: 48px;
    margin-bottom: 5px;
}
