{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block body %}
<img style="float:right" src="{{ url_for('static', filename='img/justdoit.png') }}" height="100">
<section class="py-2 text-center container">

    <div class="row py-lg-6">
        <div class="col-lg-6 col-md-8 mx-auto">

            <h1 class="fw-light">Tasks</h1>
        </div>
    </div>
</section>

{% if data == [] %}
    <div>
        <h3 style="text-align:center" class="fw-light">
            There is no any task here.
        </h3>
    </div>
{% else %}
{% for task in data %}
<div class="album py-5">
    <div class="container">

        <div class="row row-cols-1">
            <div class="col">
                <div class="card shadow-sm">


                    <div class="card-body">
                        <p class="card-text"><b>{{ task.name }}</b></p>
                         <p class="card-text">{{ task.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form method="POST">
                                    <input type = "hidden" name = "id" value = "{{ task.id }}" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
                                </form>
                            </div>
                            <small class="text-muted">created at: {{ task.time}}</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
